<div class="has-text-centered">
    <p class="has-margin-bottom-medium is-size-3">{{ welcome|raw }}</p>

    <p class="has-margin-bottom-large">{{ welcome_intro }}</p>

    <p class="has-margin-bottom-medium">{{ welcome_php_interpreter|raw }}</p>

    <p>{{ welcome_os_upgrade|raw }}</p>
</div>