{% apply spaceless %}

    {% if _type == 'allow' %}
        {% set color = 'has-text-success' %}
    {% elseif _type == 'deny' or _type == 'reject' %}
        {% set color = 'has-text-danger' %}
    {% endif %}

    <span class="icon is-small has-margin-right-xsmall {{ color }}">
        <i class="fa-solid fa-square"></i>
    </span>

{% endapply %}